bin/*
*.class
.settings/
.project
.classpath
.DS_Store
*/src/.DS_Store
*/src/edu/.DS_Store
*/src/edu/nyu/.DS_Store
*/src/edu/nyu/cs/.DS_Store
/bin/
public/.idea/*
data/*
!data/log/*
!data/prf/*
!data/simple/*
!data/SpellTrainer/
/results/*
/dist/*
